.radius(@bor) {
    border-radius: @bor;
    -webkit-border-radius: @bor;
    -moz-border-radius: @bor;
}
.bgSize {
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}
.fl {
    float: left;
}

.fr {
    float: right;
}
.sc_search_box{
	padding: 0.833333rem 1.25rem;
	overflow: hidden;
	background-color: #f5f5f5;
	.sc_search_input{
		width: 21.166667rem;
		.fl;
		height: 2.0rem;
		line-height: 2.0rem;
		text-indent: 0.5em;
		font-size: 1.041667rem;
		color: #c1c1c1;
		.radius(0.208333rem 0 0 0.208333rem);
		margin: 0;
	}
	.sc_search_btn{
		width: 3.0rem;
		height: 2.0rem;
		background-image: url(../img/search.jpg);
		.bgSize;
		.fl;
		border: none;
		text-indent: -9999em;
		.radius(0);
	}
}
.sc_menu{
	background-color: #fff;
	padding: 1.083333rem 0 0;
	overflow: hidden;
	li{
		text-align: center;
		color: #191919;
		font-size: 0.958333rem;
		span{
			display: block;
			margin-top: 0.5rem;
		}
		img{
			width: 3.625rem;
		}
	}
}
.href_mark{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    line-height: 0
    top: 0;
    z-index: 33;
}
.sc_tit{
	color: #191919;
	background-color: #f5f5f5;
	padding-top: 0.5rem;
	a{
		color: #ef4a02;
	}
}
@borColor: #c9c9c9;
.this_ovh{
	overflow: hidden;
}
.card_item_box{
	background-color: #f5f5f5;
	overflow: hidden;
	padding: 1.0rem 1.0rem 1.75rem;
	.card_list{
		width: 11.75rem;
		.fl;
		margin-right: 1rem;
		.card_media{
			height: 7.833333rem;
			position: relative;
			img{
				height: 100%;
			}
			i{
				display: block;
		        width: 2.291667rem;
		        height: 2.291667rem;
		        background-image: url(../img/video_icon.png);
		        background-size: 100% 100%;
		        position: absolute;
		        left: 50%;
		        top: 50%;
		        margin-top: -2.291667rem/2;
		        margin-left: -2.291667rem/2;
			}
		}
		.card_content{
			background-color: #fff;
			border: 0.083333rem solid @borColor;
			padding: 0.25rem 0.708333rem 1rem;
			border-top: 0;
			.card_txt{
				line-height: 1.458333rem;
				a{
					color: #1d1d1d;
					font-size: 1rem;
				}
			}
			.card_footer{
				overflow: hidden;
				span{
					color: #ef4a02;
					font-size: 1.291667rem;
					margin-top: 1.0rem;
					.fl;
				}
				.buy_icon{
					.fr;
					width: 2.208333rem;
					height: 2.208333rem;
					margin-top: 0.2rem;
				}
				em{
					.fr;
					font-style: normal;
					display: block;
					font-size: 0.875rem;
					color: #848484;
					margin-top: 1rem;
					i{
						font-size: 1rem;
						position: relative;
						top: 0.1rem
					}
				}
				.buy_btn{
					width: 5.416667rem;
					height: 1.833333rem;
					line-height: 1.833333rem;
					color: #fff;
					background-color: #f62b2b;
					font-size: 0.916667rem;
					margin: 0.833333rem auto 0;
					.radius(0.208333rem);
					display: block;
					text-align: center;
				}
			}
		}
		&:nth-child(2n){
			margin-right: 0;
		}
	}
	&.card_item_bor{
		.card_list{
			margin-bottom: 1.333333rem;
			&:nth-child(3),&:nth-child(4){
				margin-bottom: 0;
			}
		}
		.card_media{
			.radius(0.416667rem 0.416667rem 0 0);
			overflow: hidden;
		}
	}
}
.clear{
	clear: both;
}
.bg_wrap{
	background-color: #f5f5f5;
}
.imgtxt_list{
	padding: 1rem 1.458333rem;
	background-color: #f5f5f5;
	overflow: hidden;
	li{
		.fl;
		margin-right: 1rem;
		text-align: center;
		width: 7.225rem;
		span{
			display: block;
			margin-top: 0.625rem;
			font-size: 1.25rem;
			color: #ef4a02;
		}
		&:last-child{
			margin-right: 0;
		}
	}
}
.sc_pad{
	padding-bottom: 5rem;
	overflow: hidden;
}