@charset "utf-8";
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
}
ul,
ol {
  list-style: none;
}
input {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-indent: 0;
}
body {
  overflow-x: hidden;
  width: 100%;
  font-family: "microsoft yahei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  background-color: #fff;
}
body,
input,
button {
  outline: none;
  -webkit-appearance: none;
}
a {
  text-decoration: none;
  color: #333333;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:focus,
input:focus {
  outline: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.wrapper {
  width: 26.66667rem;
  min-width: 13.333335rem;
  margin: 0 auto;
  position: relative;
}
.bgSize {
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
}
.header {
  height: 4.083333rem;
  background-color: #fff;
}
.header .logo {
  float: left;
  width: 6.666667rem;
  height: 4.083333rem;
}
.header .login_area {
  float: right;
  line-height: 4.083333rem;
  margin-right: 0.75rem;
  color: #f18628;
  font-size: 1.083333rem;
}
.header .login_area a {
  color: #f18628;
}
.header .login_area em {
  display: inline-block;
  width: 0.416667rem;
  height: 1.041667rem;
  background-image: url(../img/shu.jpg);
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  vertical-align: middle;
  position: relative;
  top: -0.2rem;
  margin: 0 0.416667rem;
}
.nav {
  height: 3.125rem;
  line-height: 3.125rem;
  border-bottom: 1px solid #3299f3;
}
.nav ul li {
  -moz-box-flex: 3;
  -webkit-box-flex: 3;
  box-flex: 3;
  text-align: center;
  font-size: 1.25rem;
  position: relative;
}
.nav ul li a {
  color: #fff;
  display: block;
  background-color: #3e90f5;
}
.nav ul li a.active {
  background-color: #1e79e0;
}
.this_focus {
  height: 11.375rem;
  overflow: hidden;
}
.this_focus img {
  width: 100%;
  height: 100%;
}
.this_focus .mui-slider-indicator {
  text-align: right;
  bottom: 0.833333rem;
}
.this_focus .mui-slider-indicator > div {
  width: 1.041667rem;
  height: 1.041667rem;
  background-color: #b8bcc0;
  box-shadow: none;
}
.this_focus .mui-slider-indicator > div:last-child {
  margin-right: 2.083333rem;
}
.this_focus .mui-slider-indicator > div.mui-active {
  background-color: #1e79e0;
}
.this_tit {
  margin-top: 1.25rem;
  overflow: hidden;
  height: 2.083333rem;
  line-height: 2.083333rem;
  background-color: #e5e9f0;
  padding: 0 0.833333rem;
  color: #1e79e0;
  font-size: 1.083333rem;
}
.this_tit a {
  float: right;
  font-size: 0.875rem;
  color: #333333;
}
.index_tw {
  padding: 0.75rem 0;
}
.index_tw .mui-table-view-cell .mui-pull-left {
  width: 9.583333rem;
  height: 6.666667rem;
  max-width: 9.583333rem;
}
.index_tw .mui-table-view-cell .mui-ellipsis {
  color: #333;
  font-size: 1rem;
  line-height: 1.916667rem;
  white-space: normal !important;
}
.menu {
  background-color: #e5e9f0;
  padding: 0.75rem 0;
  height: 7.916667rem;
}
.menu li {
  -moz-box-flex: 3;
  -webkit-box-flex: 3;
  box-flex: 3;
  text-align: center;
  font-size: 1.166667rem;
  position: relative;
}
.menu li a {
  color: #1e79e0;
  display: block;
  text-align: center;
}
.menu li a img {
  width: 5.0rem;
  height: 5.0rem;
}
.menu li a span {
  display: block;
  margin-top: 0.416667rem;
}
.display_box {
  width: 100%;
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
.other_list {
  overflow: hidden;
  margin: 1.166667rem 0 0;
}
.other_list li {
  width: 13.083333rem;
  height: 4.916667rem;
  border: 0.083333rem solid #e4e4e4;
  margin-bottom: 0.508333rem;
  display: inline-block;
  float: left;
}
.other_list li:nth-child(2n) {
  float: right;
}
.other_list li dl {
  padding: 1.0rem 0 0 1.166667rem;
}
.other_list li dl dt a {
  font-size: 1.291667rem;
  color: #1e79e0;
}
.other_list li dl dd {
  color: #333333;
  font-size: 0.958333rem;
  margin-top: 0.625rem;
}
.index_sq.mui-table-view.mui-grid-view {
  padding-bottom: 3.666667rem;
}
.index_sq.mui-table-view.mui-grid-view .mui-media-body {
  color: #333333;
  font-size: 1.375rem;
  height: 2.291667rem;
  line-height: 2.291667rem;
}
.index_sq img {
  width: 11.666667rem;
  height: 7.833333rem;
}
.bottom_bar {
  height: 3.333333rem;
  border-top: 1px solid #eaeaea;
}
.bottom_bar .mui-tab-label {
  font-size: 0.833333rem !important;
}
.bottom_bar .mui-tab-item .mui-icon {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
}
